:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --video-player-ratio: 0.5625;
  --video-player-height: calc(100dvh - 64px);
  --video-player-width: calc(
    var(--video-player-height) * var(--video-player-ratio)
  );

  font: 100%/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #111;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}
