.placeholder {
  width: var(--video-player-width);
  height: var(--video-player-height);
  justify-content: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-padding-top: calc(var(--grid-size) * 4);
  display: flex;
  flex: 0 0 auto;
  position: relative;
  border-radius: calc(var(--grid-size) * 2);
  overflow: hidden;
  @media (width <= 430px) {
    border-radius: 0;
  }
}
