.videoFeedControls {
  display: flex;
  position: sticky;
  align-items: center;
  height: 100dvh;
  flex-direction: column;
  width: fit-content;
  gap: 8px;
  justify-content: center;
  @media (width <= 430px) {
    display: none;
  }
}
