.videoCard {
  width: var(--video-player-width);
  height: var(--video-player-height);
  overflow: hidden;
  position: relative;
}

.videoPlayer {
  width: var(--video-player-width);
  height: var(--video-player-height);
  object-fit: cover;
}

.videoCover {
  background-image: var(--thumbnail);
  width: var(--video-player-width);
  height: var(--video-player-height);
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  transition: 0.3s ease-out;
}

.videoControls {
  width: 100%;
  padding: calc(var(--grid-size) * 2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
