.videoFeedContainer {
  align-items: center;
  height: 100dvh;
  width: 100vw;
  padding: 0 32px;
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  flex-direction: row;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}
.videoFeed {
  align-items: center;
  height: 100dvh;
  width: calc(100vw - 96px);
  display: flex;
  flex-direction: column;
}

.videoFeedControls {
  width: 96px;
  position: relative;
}

.videoFeedControlsContainer {
  position: fixed;
}

.videoFeedControlsButtons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
